---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { formatDate } from "@lib/utils";
import { PROJECTS } from "@consts";


const collection = (await getCollection("projects"))
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());

const projects = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          projects.map(project => (
            <li class="animate">
                <div class="text-sm opacity-75">
                    {formatDate(project.data.date)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                  {project.data.title} - {project.data.description}
              </div>
              <div class="text-sm opacity-75">
                  <a href={project.data.repoURL}>Github</a>
              </div>
              <article>
                <project.Content />
              </article>
            </li>
          ))
        }
      </ul>
<!-- 
      <ul class="animate flex flex-col gap-4">

      </ul> -->
    </div>
  </Container>
</PageLayout>
